.table-ruwiki{
    border: 0.3vw;
    border-color: #8bb0d5;
    border-style: solid;
    border-bottom: #8bb0d5 groove 0.5vw;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 2px 2px 0 rgba( 0, 0, 0, 0.25 );
    /*background: linear-gradient(90deg, #f1f8ff, #cedcea);*/
    background: #f5f5f5;
}

.table-text-ruwiki{
    font-family: Arial;
    font-size: 2vw;
    padding-left: 5px;
}

.table-content-png-ruwiki{
    padding-right: 0.15vw;
    width: 16px;
    height: 16px;
    /*width: 2vw;*/
    max-width: 1vw;
    min-width: 1vw;
    height: auto;*
}

.table-button-ruwiki{
    border: none;
    background-color: #ffffff;
    font-family: Arial;
    font-size: 1.5vw;
    /*padding-top: 15px;
    padding-bottom: 15px;*/
    color: black;
}

.table-link-ruwiki{
    text-decoration: none;
}
.table-td-ruwiki{
    width: 25px;
}

.news-main{
    border: 1px;
    border-color: #cccccc;
    border-style: solid;
    font-family: Arial;
    font-size: 1vw;
}

.news-main-text{
    text-align: center;
    background-color: #8bb0d5;
    box-shadow: 2px 2px #5f9bd7;
    font-size: 1.3vw;
}

.news-list{
    margin-left: -10px;
}